<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RFC ASCII art 一览 - RFC Trans by trustywolf</title>

  <link rel="shortcut icon" type="image/x-icon" href="https://rfc.idv.tw/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha256-+IZRbz1B6ee9mUx/ejmonK+ulIP5A5bLDd6v6NHqXnI=" crossorigin="anonymous">

  <style>
    body {
      font-family: -apple-system,BlinkMacSystemFont,"Microsoft YaHei UI",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    p.text {
      font-size: 100%;
      overflow-wrap: break-word;
    }
    pre.text {
      font-size: 75%;
    }
  </style>
</head>
<body>
  <%include file="header.html" />

  <div style="height: 1ex;"></div> <!-- spacing -->

  <div class="container">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">RFC ASCII art 一览</h4>
      ASCII art 是在等幅字体环境中仅使用 ASCII 来表达个人观点和世界观的一种方式。
      RFC 上到处都是 ASCII 艺术家的作品。
      我们认为 RFC ASCII art 是一种文化资产，本网站的存在就是为了保护这些资产。
    </div>

    % for link, rfc_begin, rfc_end in ctx:
    <div class="col-sm-12 col-md-12">
      <a href="${link | h}">
        RFC ${rfc_begin | h}-${rfc_end | h}
      </a>
    </div>
    % endfor

    <div class="col-sm-12 col-md-12">
      <pre class="text-monospace">
             .&nbsp;
             |\&nbsp;
              \\______&nbsp;
              /    \  \_&nbsp;
             /  O   \   \&nbsp;
            /  __     \  |&nbsp;
           (__/  /      \|&nbsp;
                /         \____&nbsp;
            __--               \__&nbsp;
          --___/                  \   ___&nbsp;
         ( (  __----               |--    \&nbsp;
          || (     \___     /      /--.    \&nbsp;
           -\_\        \___(      /   /  __/&nbsp;
             \_\           \_     \_ |  /&nbsp;
                           _/\__   _) \_\&nbsp;
                          /  __/ _/&nbsp;
                         |__/  _/&nbsp;
                        /__\__/&nbsp;
                           /__|&nbsp;
      </pre>
    </div>
  </div>
</body>
</html>
